@import "components/notes";
@import "components/modals";

svg:focus {
  outline: none;
  box-shadow: none;
}

button {
  .bi-arrow-left {
    height: 21px;
    width: 21px;
    margin-top: -3px;
  }
}
