
body.modal-open {
  overflow: hidden;
  padding-right: 17px;
}

.modal {
  background-color: rgba(33, 37, 41, 0.28);
  display: block;

  .modal-header {
    .btn-close svg {
      height: 30px;
      width: 30px;
    }
  }
}

.modal-alert {
  overflow: hidden;
  position: fixed !important;
  height: auto !important;
  width: 100%;
  top: 0;
  text-align: center;
  background-color: #ffd3d7;

  &.success {
    background-color: #dbffd3;
  }
}

.modal-transition {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal-fade-enter,
.modal-fade-leave-active {
  transition: opacity .6s ease;
}

.modal.modal-fade-enter-from {
  opacity: 0;
  transition: opacity .6s ease;
  display: block !important;
}

.modal.modal-fade-enter-active,
.modal.modal-fade-leave-active {
  opacity: 1;
}

.modal-transition.fade-enter-active,
.modal-transition.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: height, opacity;
  transition-timing-function: ease;
  overflow: hidden;
}