.notes {
  .form-check-input {
    &:active {
      filter: none;
    }
    &:focus {
      border-color: transparent;
      box-shadow: none;
    }
  }
}

.edit-note,
.notes {
  .card-body {
    .list-group {
      .item {
        transition: all 500ms;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);

        &:last-child {
          border: none;
        }
        &:hover {
          background-color: rgba(98, 139, 255, 0.11);
        }

        svg {
          transition: all 500ms;
          width: 2em;
          height: 2em;

          &:hover {
            width: 2.3em;
            height: 2.3em;
          }
        }

        .list-group-item {
          border: none;
          background-color: transparent;

          input {
            height: 1.3em;
            width: 1.3em;
            margin-top: 2px;
          }

          .todo-edit svg{
            color: $warning;
            height: 1.3em;
            width: 1.3em;

            &:hover {
              height: 1.5em;
              width: 1.5em;
            }
          }
        }

        .todo-buttons {
          .todo-remove {
            color: $red;
          }
        }
      }
    }

    .add-task {
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      padding-left: 17px;

      &:focus {
        border: none;
      }
    }
  }

  .card-footer {
    button {
      @include media-breakpoint-down(sm) {
        margin-bottom: 5px;
      }
    }
  }
}