<template>
  <div class="notes">
    <router-link :to="{name: 'noteCreate'}" >
      <button type="button" class="btn btn-outline-primary w-100 mb-3" data-test="add-note">Добавить заметку</button>
    </router-link>

    <div v-for="(note) in notes" :key="note.time" class="card mb-4">
      <div class="card-header">
        {{ note.title }}
      </div>
      <div v-if="note.todo.length > 0" class="card-body">
        <div class="list-group" v-for="(todo, key) in note.todo" :key="todo.time">
          <div v-if="key < 5" class="item d-flex justify-content-between">
            <label class="list-group-item" @click.prevent.stop="()=>{}">
              <input
                class="form-check-input me-1"
                type="checkbox"
                :checked="todo.flag"
                disabled
              >
              {{todo.name}}
            </label>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between flex-sm-row flex-column">
        <button @click="changeNote(note.time)" type="button" class="btn btn-outline-warning">Изменить</button>
        <button @click="removeNoteConfirm(note.time)"
                type="button"
                data-test="button-remove"
                class="btn btn-outline-danger">
          Удалить
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'HomePage',
  components: {},
  data () {
    return {
      confirmRemoveNoteId: -1
    }
  },
  computed: {
    notes () {
      return this.$store.getters['notes/allNotes']()
    }
  },
  methods: {
    ...mapActions('notes', {
      removeWithConfirm: 'removeWithConfirm'
    }),
    changeNote (id) {
      this.$router.push({ name: 'noteEdit', params: { id: id } })
    },
    removeNoteConfirm (id) {
      this.removeWithConfirm(id)
    }
  }
}
</script>
