<template>
  <div class="edit-note">
    <button @click="cancelEdit" type="button" class="btn btn-outline-primary w-100 mb-3">
      <img v-svg-inline src="../assets/svg/arrow-left.svg" class="icon-back">
      Отмена
    </button>

    <div class="card">
      <div class="card-header">
        <input v-model="inputTitle"
               @keypress="errors.title = false"
               type="text"
               id="title"
               class="form-control"
               :class="{'is-invalid': errors.title}"
               placeholder="Придумайте имя заголовка..."
        >
      </div>
      <div class="card-body">
        <div class="list-group" v-for="(todo, key) in allTodos" :key="todo.time">
          <div class="item d-flex justify-content-between">
            <label v-if="posInputTodo !== key" class="list-group-item">
              <input
                class="form-check-input me-1"
                type="checkbox"
                :checked="todo.flag"
                @change="todoChangeChecket($event, key)"
              >
              {{todo.name}}
              <a href="#" class="todo-edit ms-1" @click="posInputTodo = key">
                <img v-svg-inline src="../assets/svg/pencil-fill.svg" class="icon-pencil">
              </a>
            </label>
            <div v-if="posInputTodo !== key" class="todo-buttons d-flex align-items-center">
              <a @click="todoRemove(key)" href="#" class="todo-remove">
                <img v-svg-inline src="../assets/svg/x.svg" class="icon-x">
              </a>
            </div>
            <div v-if="posInputTodo === key" class="input-group">
              <input type="text"
                     class="form-control edit-task rounded-0"
                     aria-describedby="button-add-todo"
                     v-model="todo.name"
                     @keyup.enter="posInputTodo = -1"
              >
              <button class="btn btn-outline-secondary"
                      type="button"
                      @click="posInputTodo = -1"
              >
                Сохранить
              </button>
            </div>
          </div>
        </div>
        <div class="input-group mt-2">
          <input type="text"
                 id="add"
                 data-test="input-add-todo"
                 class="form-control add-task rounded-0"
                 placeholder="Какая задача?"
                 aria-describedby="button-add-todo"
                 v-model="inputTodo"
                 @keyup.enter="addTodo"
          >
          <button v-show="inputTodo.length > 0"
                  data-test="button-add-todo"
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-add-todo"
                  @click="addTodo"
          >
            Добавить
          </button>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-around flex-sm-row flex-column">
        <button
          :disabled="!changed && !this.saveOldState"
          @click="toggleChanges"
          type="button"
          class="btn btn-outline-secondary">
          {{ saveOldState ? 'Вернуть изменения' : 'Отменить изменения' }}
        </button>
        <button @click="saveNote" type="button" class="btn btn-outline-success" data-test="save-note">
          {{ noteId > -1 ? 'Сохранить' : 'Добавить' }}
        </button>
        <button v-if="noteId > -1" @click="removeNoteConfirm(noteId)" type="button" class="btn btn-outline-danger">Удалить</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'NotePage',
  data () {
    return {
      inputTitle: '',
      inputTodo: '',
      posInputTodo: -1,
      allTodos: [],
      timeNote: -1,
      errors: {
        title: false
      },
      saveOldState: null
    }
  },
  computed: {
    noteId () {
      return this.$router.currentRoute.value.params.id || -1
    },
    changed () {
      const findNote = this.$store.getters['notes/noteById'](this.noteId) || { time: -1, title: '', todo: [] }
      return !this.$services.isEqual({ time: this.timeNote, title: this.inputTitle, todo: this.allTodos }, findNote)
    }
  },
  methods: {
    ...mapActions('notes', {
      add: 'add',
      removeWithConfirm: 'removeWithConfirm'
    }),
    loadNote () {
      const findNote = this.$store.getters['notes/noteById'](this.noteId)
      this.inputTitle = findNote.title || ''
      this.timeNote = findNote.time || -1
      this.allTodos = findNote.todo || []
    },
    cancelEdit () {
      const goToHome = () => {
        this.$router.push({ name: 'home' })
      }
      if (this.changed) {
        this.$services.confirm({
          title: 'Не сохранять изменения',
          message: 'У вас остались несохранённые изменения. Точно вернуться на главную страницу?',
          type: 'warning',
          confirm: goToHome
        })
      } else {
        goToHome()
      }
    },
    addTodo () {
      this.allTodos.push({ flag: false, name: this.inputTodo, time: new Date().getTime() })
      this.inputTodo = ''
    },
    todoChangeChecket (event, pos) {
      this.allTodos[pos].flag = event.target.checked
    },
    todoRemove (pos) {
      this.allTodos.splice(pos, 1)
    },
    checkErrors () {
      let errors = false
      if (!this.inputTitle || this.inputTitle.trim().length === 0) {
        this.errors.title = true
        errors = true
      }
      return errors
    },
    saveNote () {
      if (!this.checkErrors()) {
        this.add({
          title: this.inputTitle,
          todo: JSON.parse(JSON.stringify(this.allTodos)),
          time: this.timeNote !== -1 ? this.timeNote : new Date().getTime()
        })
        this.$router.push({ name: 'home' })
        this.emitter.emit('alert', { message: 'Сохранена заметка', type: 'success' })
      }
    },
    removeNoteConfirm (id) {
      this.removeWithConfirm(id)
    },
    toggleChanges () {
      if (this.changed && !this.saveOldState) {
        this.saveOldState = { time: this.timeNote, title: this.inputTitle, todo: this.allTodos }
        this.loadNote()
      } else if (this.saveOldState) {
        this.timeNote = this.saveOldState.time
        this.inputTitle = this.saveOldState.title
        this.allTodos = this.saveOldState.todo
        this.saveOldState = null
      }
    }
  },
  mounted () {
    if (this.noteId > -1) {
      this.loadNote()
    }
  }
}
</script>
