<template>
  <div class="modal"
       v-show="active"
       @click="close"
       :class="{'fade': !active}"
       tabindex="-1"
       aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" @click.prevent.stop="()=>{}">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
          <a @click="close" href="#" class="btn-close">
            <img v-svg-inline src="../assets/svg/x.svg" class="icon-x fa-2x">
          </a>
        </div>
        <div class="modal-body text-start">
          {{ message }}
        </div>
        <div class="modal-footer justify-content-start">
          <button @click="close" type="button" class="btn btn-outline-secondary">Отмена</button>
          <button @click="confirm"
                  type="button"
                  data-test="modal-button-continue"
                  class="btn"
                  :class="'btn-' + type">
            Да
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'modal-confirmation',
  components: {},
  data () {
    return {
      active: false,
      title: '',
      message: '',
      type: 'success',
      confirmFn: Function
    }
  },
  methods: {
    close () {
      this.active = false
      const body = document.getElementsByTagName('body')[0]
      body.classList.remove('modal-open')
    },
    open () {
      console.log('open modal confirm')
      const body = document.getElementsByTagName('body')[0]
      body.classList.add('modal-open')
      this.active = true
    },
    confirm () {
      console.log('confirm')
      this.close()
      this.confirmFn()
    }
  },
  mounted () {
    this.emitter.on('confirm', (payload) => {
      this.title = payload.title
      this.message = payload.message
      this.type = payload.type
      this.confirmFn = payload.confirm
      this.open()
    })
  }
}
</script>
