<template>
  <transition name="modal-fade">
    <div v-if="active"
         :class="type"
         class="modal-transition modal-alert"
         @click="close">
      <div class="py-3">
        {{message}}
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'modal-alert',
  components: {},
  data () {
    return {
      active: false,
      message: '',
      type: 'success'
    }
  },
  methods: {
    close () {
      this.active = false
    }
  },
  mounted () {
    this.emitter.on('alert', (payload) => {
      this.active = true
      this.message = payload.message
      this.type = payload.type
      setTimeout(() => {
        this.active = false
      }, 2000)
    })
  }
}
</script>
