<template>
  <div class="container">
    <div class="row justify-content-center my-5">
      <div class="col-12 col-sm-10 col-md-8 col-xl-6 text-start">
        <router-view/>
      </div>
    </div>
  </div>
  <ModalAlert />
  <ModalConfirmation />
</template>

<script>
import ModalAlert from '@/components/ModalAlert.vue'
import ModalConfirmation from '@/components/ModalConfirmation.vue'
import { mapActions } from 'vuex'
export default {
  components: {
    ModalConfirmation,
    ModalAlert
  },
  methods: {
    ...mapActions('notes', {
      loadFromLocalStorage: 'loadFromLocalStorage'
    })
  },
  created () {
    this.loadFromLocalStorage()
  }
}
</script>
